In [1]:
# Dependencies and Setup
import pandas as pd

# Read File and store into Pandas data frame
movies = pd.read_csv("../../Extract/Movies/movies.csv", encoding='latin1')

movies.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [2]:
movies = movies.loc[movies['Prime Video']==0]
movies.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
5,5,6,Spider-Man: Into the Spider-Verse,2018,7+,8.4,97%,1,0,0,0,0,"Bob Persichetti,Peter Ramsey,Rodney Rothman","Animation,Action,Adventure,Family,Sci-Fi",United States,"English,Spanish",117.0

In [3]:
# drop non-used columns
movies = movies.drop(columns = ['Unnamed: 0', 'ID', 'IMDb', 'Rotten Tomatoes', 'Type', 'Directors', 
                                'Genres', 'Country', 'Language', 'Runtime', 'Prime Video'])
movies.head()

                               Title  Year  Age  Netflix  Hulu  Disney+
0                          Inception  2010  13+        1     0        0
1                         The Matrix  1999  18+        1     0        0
2             Avengers: Infinity War  2018  13+        1     0        0
3                 Back to the Future  1985   7+        1     0        0
5  Spider-Man: Into the Spider-Verse  2018   7+        1     0        0

In [4]:
# Rename Disney+ to Disney
movies = movies.rename(columns={'Disney+': 'Disney'})
movies.head()

                               Title  Year  Age  Netflix  Hulu  Disney
0                          Inception  2010  13+        1     0       0
1                         The Matrix  1999  18+        1     0       0
2             Avengers: Infinity War  2018  13+        1     0       0
3                 Back to the Future  1985   7+        1     0       0
5  Spider-Man: Into the Spider-Verse  2018   7+        1     0       0

In [5]:
# Check/drop if there is duplicated movies
movies = movies.drop_duplicates('Title', keep='last').reset_index(drop=True)
movies.head()

                               Title  Year  Age  Netflix  Hulu  Disney
0                          Inception  2010  13+        1     0       0
1                         The Matrix  1999  18+        1     0       0
2             Avengers: Infinity War  2018  13+        1     0       0
3                 Back to the Future  1985   7+        1     0       0
4  Spider-Man: Into the Spider-Verse  2018   7+        1     0       0

In [6]:
# check how many rows are left in the dataframe
movies['Year'].count()

4390

In [7]:
# combine the title and year into key
movies["key"] = movies["Title"] + movies["Year"].astype(str)
movies.head()

,Title,Year,Age,Netflix,Hulu,Disney,key
0,Inception,2010,13+,1,0,0,Inception2010
1,The Matrix,1999,18+,1,0,0,The Matrix1999
2,Avengers: Infinity War,2018,13+,1,0,0,Avengers: Infinity War2018
3,Back to the Future,1985,7+,1,0,0,Back to the Future1985
4,Spider-Man: Into the Spider-Verse,2018,7+,1,0,0,Spider-Man: Into the Spider-Verse2018

In [8]:
# Export to csv file
movies.to_csv("../../Transform/Movies/movies_cw.csv")

In [9]:
# read the other csv data
movies2 = pd.read_csv('../../Transform/Movies/movies_df_clean.csv')
movies2.head()

,Unnamed: 0,Title,Year,Director,Genre,IMDB_Rating,IMDB_Votes,Country,Awards,RottenTomatoes,MetaCritic,key
0,0,Inception,2010,Christopher Nolan,"Action, Adventure, Sci-Fi, Thriller",8.8,2029549,"USA, UK",Won 4 Oscars. Another 152 wins & 218 nominations.,87,74,Inception2010
1,1,The Matrix,1999,"Lana Wachowski, Lilly Wachowski","Action, Sci-Fi",8.7,1647373,USA,Won 4 Oscars. Another 37 wins & 51 nominations.,88,73,The Matrix1999
2,2,Avengers: Infinity War,2018,"Anthony Russo, Joe Russo","Action, Adventure, Sci-Fi",8.4,812007,USA,Nominated for 1 Oscar. Another 46 wins & 75 no...,85,68,Avengers: Infinity War2018
3,3,Back to the Future,1985,Robert Zemeckis,"Adventure, Comedy, Sci-Fi",8.5,1039498,USA,Won 1 Oscar. Another 19 wins & 25 nominations.,96,87,Back to the Future1985
4,4,Spider-Man: Into the Spider-Verse,2018,"Bob Persichetti, Peter Ramsey, Rodney Rothman","Animation, Action, Adventure, Family, Sci-Fi",8.4,344012,USA,Won 1 Oscar. Another 79 wins & 55 nominations.,97,87,Spider-Man: Into the Spider-Verse2018

In [10]:
# Merging two csv files into one
merged = movies.merge(movies2, on='key')
merged.head()

,Title_x,Year_x,Age,Netflix,Hulu,Disney,key,Unnamed: 0,Title_y,Year_y,Director,Genre,IMDB_Rating,IMDB_Votes,Country,Awards,RottenTomatoes,MetaCritic
0,Inception,2010,13+,1,0,0,Inception2010,0,Inception,2010,Christopher Nolan,"Action, Adventure, Sci-Fi, Thriller",8.8,2029549,"USA, UK",Won 4 Oscars. Another 152 wins & 218 nominations.,87,74
1,The Matrix,1999,18+,1,0,0,The Matrix1999,1,The Matrix,1999,"Lana Wachowski, Lilly Wachowski","Action, Sci-Fi",8.7,1647373,USA,Won 4 Oscars. Another 37 wins & 51 nominations.,88,73
2,Avengers: Infinity War,2018,13+,1,0,0,Avengers: Infinity War2018,2,Avengers: Infinity War,2018,"Anthony Russo, Joe Russo","Action, Adventure, Sci-Fi",8.4,812007,USA,Nominated for 1 Oscar. Another 46 wins & 75 no...,85,68
3,Back to the Future,1985,7+,1,0,0,Back to the Future1985,3,Back to the Future,1985,Robert Zemeckis,"Adventure, Comedy, Sci-Fi",8.5,1039498,USA,Won 1 Oscar. Another 19 wins & 25 nominations.,96,87
4,Spider-Man: Into the Spider-Verse,2018,7+,1,0,0,Spider-Man: Into the Spider-Verse2018,4,Spider-Man: Into the Spider-Verse,2018,"Bob Persichetti, Peter Ramsey, Rodney Rothman","Animation, Action, Adventure, Family, Sci-Fi",8.4,344012,USA,Won 1 Oscar. Another 79 wins & 55 nominations.,97,87

In [11]:
# drop duplicated columns
merged = merged.drop(columns = ['Unnamed: 0', 'Title_y', 'Year_y'])
merged = merged.rename(columns={'Title_x': 'Title', 'Year_x': 'Year'})
merged.head()

,Title,Year,Age,Netflix,Hulu,Disney,key,Director,Genre,IMDB_Rating,IMDB_Votes,Country,Awards,RottenTomatoes,MetaCritic
0,Inception,2010,13+,1,0,0,Inception2010,Christopher Nolan,"Action, Adventure, Sci-Fi, Thriller",8.8,2029549,"USA, UK",Won 4 Oscars. Another 152 wins & 218 nominations.,87,74
1,The Matrix,1999,18+,1,0,0,The Matrix1999,"Lana Wachowski, Lilly Wachowski","Action, Sci-Fi",8.7,1647373,USA,Won 4 Oscars. Another 37 wins & 51 nominations.,88,73
2,Avengers: Infinity War,2018,13+,1,0,0,Avengers: Infinity War2018,"Anthony Russo, Joe Russo","Action, Adventure, Sci-Fi",8.4,812007,USA,Nominated for 1 Oscar. Another 46 wins & 75 no...,85,68
3,Back to the Future,1985,7+,1,0,0,Back to the Future1985,Robert Zemeckis,"Adventure, Comedy, Sci-Fi",8.5,1039498,USA,Won 1 Oscar. Another 19 wins & 25 nominations.,96,87
4,Spider-Man: Into the Spider-Verse,2018,7+,1,0,0,Spider-Man: Into the Spider-Verse2018,"Bob Persichetti, Peter Ramsey, Rodney Rothman","Animation, Action, Adventure, Family, Sci-Fi",8.4,344012,USA,Won 1 Oscar. Another 79 wins & 55 nominations.,97,87

In [12]:
merged.to_csv("../../Load/Movies/output_movie_combined.csv", index=False)