In [1]:
# Dependencies and Setup
import pandas as pd

# Read Purchasing File and store into Pandas data frame
tv = pd.read_csv('../../Extract/TV/tv_shows.csv', encoding='latin1')

tv.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [2]:
tv = tv.loc[tv['Prime Video']==0]
tv.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [3]:
# drop non-used columns
tv = tv.drop(columns = ['Unnamed: 0', 'IMDb', 'Rotten Tomatoes', 'type', 'Prime Video'])
tv.head()

              Title  Year  Age  Netflix  Hulu  Disney+
0      Breaking Bad  2008  18+        1     0        0
1   Stranger Things  2016  16+        1     0        0
2       Money Heist  2017  18+        1     0        0
3          Sherlock  2010  16+        1     0        0
4  Better Call Saul  2015  18+        1     0        0

In [4]:
# Rename Disney+ to Disney
tv = tv.rename(columns={'Disney+': 'Disney'})
tv.head()

              Title  Year  Age  Netflix  Hulu  Disney
0      Breaking Bad  2008  18+        1     0       0
1   Stranger Things  2016  16+        1     0       0
2       Money Heist  2017  18+        1     0       0
3          Sherlock  2010  16+        1     0       0
4  Better Call Saul  2015  18+        1     0       0

In [5]:
# Check/drop if there is duplicated movies
tv = tv.drop_duplicates('Title', keep='last').reset_index(drop=True)
tv.head()

              Title  Year  Age  Netflix  Hulu  Disney
0      Breaking Bad  2008  18+        1     0       0
1   Stranger Things  2016  16+        1     0       0
2       Money Heist  2017  18+        1     0       0
3          Sherlock  2010  16+        1     0       0
4  Better Call Saul  2015  18+        1     0       0

In [6]:
# check how many rows are left in the dataframe
tv['Year'].count()

3439

In [7]:
# combine the title and year into key
tv["Key"] = tv["Title"] + tv["Year"].astype(str)
tv

,Title,Year,Age,Netflix,Hulu,Disney,Key
0,Breaking Bad,2008,18+,1,0,0,Breaking Bad2008
1,Stranger Things,2016,16+,1,0,0,Stranger Things2016
2,Money Heist,2017,18+,1,0,0,Money Heist2017
3,Sherlock,2010,16+,1,0,0,Sherlock2010
4,Better Call Saul,2015,18+,1,0,0,Better Call Saul2015
...,...,...,...,...,...,...,...
3434,Tut's Treasures: Hidden Secrets,2018,NaN,0,0,1,Tut's Treasures: Hidden Secrets2018
3435,Paradise Islands,2017,NaN,0,0,1,Paradise Islands2017
3436,Wild Russia,2018,NaN,0,0,1,Wild Russia2018
3437,Love & Vets,2017,NaN,0,0,1,Love & Vets2017
3438,United States of Animals,2016,NaN,0,0,1,United States of Animals2016

In [8]:
# Export to csv file
tv.to_csv("../../Transform/TV/tv_cw.csv")

In [9]:
# read the other csv data
tv2 = pd.read_csv("../../Transform/TV/TV_df_omdb.csv")
tv2.head()

,Unnamed: 0,Title,Year,Writer,Genre,IMDB_Rating,IMDB_Votes,Rotten_Tomatoes,Country,Awards,Key
0,0,Breaking Bad,2008,Vince Gilligan,"Crime, Drama, Thriller",9.5,1404063,96,USA,Won 2 Golden Globes. Another 151 wins & 238 no...,Breaking Bad2008
1,0,Stranger Things,2016,"Matt Duffer, Ross Duffer","Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller",8.8,778817,93,USA,Nominated for 4 Golden Globes. Another 71 wins...,Stranger Things2016
2,0,Money Heist,2017,Álex Pina,"Action, Crime, Mystery, Thriller",8.4,279345,91,Spain,26 wins & 30 nominations.,Money Heist2017
3,0,Sherlock,2010,"Mark Gatiss, Steven Moffat","Crime, Drama, Mystery, Thriller",9.1,788329,78,"UK, USA",Nominated for 1 Golden Globe. Another 89 wins ...,Sherlock2010
4,0,Better Call Saul,2015,"Vince Gilligan, Peter Gould","Crime, Drama",8.7,311262,97,USA,Nominated for 3 Golden Globes. Another 29 wins...,Better Call Saul2015

In [10]:
# Merging two csv files into one
merged = tv.merge(tv2, on='Key')
merged.head()

,Title_x,Year_x,Age,Netflix,Hulu,Disney,Key,Unnamed: 0,Title_y,Year_y,Writer,Genre,IMDB_Rating,IMDB_Votes,Rotten_Tomatoes,Country,Awards
0,Breaking Bad,2008,18+,1,0,0,Breaking Bad2008,0,Breaking Bad,2008,Vince Gilligan,"Crime, Drama, Thriller",9.5,1404063,96,USA,Won 2 Golden Globes. Another 151 wins & 238 no...
1,Stranger Things,2016,16+,1,0,0,Stranger Things2016,0,Stranger Things,2016,"Matt Duffer, Ross Duffer","Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller",8.8,778817,93,USA,Nominated for 4 Golden Globes. Another 71 wins...
2,Money Heist,2017,18+,1,0,0,Money Heist2017,0,Money Heist,2017,Álex Pina,"Action, Crime, Mystery, Thriller",8.4,279345,91,Spain,26 wins & 30 nominations.
3,Sherlock,2010,16+,1,0,0,Sherlock2010,0,Sherlock,2010,"Mark Gatiss, Steven Moffat","Crime, Drama, Mystery, Thriller",9.1,788329,78,"UK, USA",Nominated for 1 Golden Globe. Another 89 wins ...
4,Better Call Saul,2015,18+,1,0,0,Better Call Saul2015,0,Better Call Saul,2015,"Vince Gilligan, Peter Gould","Crime, Drama",8.7,311262,97,USA,Nominated for 3 Golden Globes. Another 29 wins...

In [11]:
# drop duplicated columns
merged = merged.drop(columns = ['Unnamed: 0', 'Title_y', 'Year_y'])
merged = merged.rename(columns={'Title_x': 'Title', 'Year_x': 'Year'})
merged.head()

,Title,Year,Age,Netflix,Hulu,Disney,Key,Writer,Genre,IMDB_Rating,IMDB_Votes,Rotten_Tomatoes,Country,Awards
0,Breaking Bad,2008,18+,1,0,0,Breaking Bad2008,Vince Gilligan,"Crime, Drama, Thriller",9.5,1404063,96,USA,Won 2 Golden Globes. Another 151 wins & 238 no...
1,Stranger Things,2016,16+,1,0,0,Stranger Things2016,"Matt Duffer, Ross Duffer","Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller",8.8,778817,93,USA,Nominated for 4 Golden Globes. Another 71 wins...
2,Money Heist,2017,18+,1,0,0,Money Heist2017,Álex Pina,"Action, Crime, Mystery, Thriller",8.4,279345,91,Spain,26 wins & 30 nominations.
3,Sherlock,2010,16+,1,0,0,Sherlock2010,"Mark Gatiss, Steven Moffat","Crime, Drama, Mystery, Thriller",9.1,788329,78,"UK, USA",Nominated for 1 Golden Globe. Another 89 wins ...
4,Better Call Saul,2015,18+,1,0,0,Better Call Saul2015,"Vince Gilligan, Peter Gould","Crime, Drama",8.7,311262,97,USA,Nominated for 3 Golden Globes. Another 29 wins...

In [12]:
merged.to_csv("../../Load/TV/output_TV_combined.csv", index=False)