In [2]:
# Dependencies and Setup
import pandas as pd

# Read Purchasing File and store into Pandas data frame
movies = pd.read_csv("Extract/Movies/movies.csv", encoding='latin1')

movies.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [3]:
movies.count()

Unnamed: 0         16744
ID                 16744
Title              16744
Year               16744
Age                 7354
IMDb               16173
Rotten Tomatoes     5158
Netflix            16744
Hulu               16744
Prime Video        16744
Disney+            16744
Type               16744
Directors          16018
Genres             16469
Country            16309
Language           16145
Runtime            16152
dtype: int64

In [4]:
movies = movies.loc[movies['Prime Video']==0]
movies.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
5,5,6,Spider-Man: Into the Spider-Verse,2018,7+,8.4,97%,1,0,0,0,0,"Bob Persichetti,Peter Ramsey,Rodney Rothman","Animation,Action,Adventure,Family,Sci-Fi",United States,"English,Spanish",117.0

In [5]:
# drop non-used columns
movies = movies.drop(columns = ['Unnamed: 0', 'ID', 'IMDb', 'Rotten Tomatoes', 'Type', 'Directors', 
                                'Genres', 'Country', 'Language', 'Runtime', 'Prime Video'])
movies.head()

                               Title  Year  Age  Netflix  Hulu  Disney+
0                          Inception  2010  13+        1     0        0
1                         The Matrix  1999  18+        1     0        0
2             Avengers: Infinity War  2018  13+        1     0        0
3                 Back to the Future  1985   7+        1     0        0
5  Spider-Man: Into the Spider-Verse  2018   7+        1     0        0

In [6]:
# Rename Disney+ to Disney
movies = movies.rename(columns={'Disney+': 'Disney'})
movies.head()

                               Title  Year  Age  Netflix  Hulu  Disney
0                          Inception  2010  13+        1     0       0
1                         The Matrix  1999  18+        1     0       0
2             Avengers: Infinity War  2018  13+        1     0       0
3                 Back to the Future  1985   7+        1     0       0
5  Spider-Man: Into the Spider-Verse  2018   7+        1     0       0

In [7]:
# Check/drop if there is duplicated movies
movies = movies.drop_duplicates('Title', keep='last').reset_index(drop=True)
movies.head()

                               Title  Year  Age  Netflix  Hulu  Disney
0                          Inception  2010  13+        1     0       0
1                         The Matrix  1999  18+        1     0       0
2             Avengers: Infinity War  2018  13+        1     0       0
3                 Back to the Future  1985   7+        1     0       0
4  Spider-Man: Into the Spider-Verse  2018   7+        1     0       0

In [8]:
# change index to title
#movies.set_index('ID', inplace=True)
#movies = movies.sort_index()
#movies.head()

In [9]:
# check how many rows are there in the orginal/initial database
movies['Year'].count()

4390

In [10]:
# Drop NaN values
#movies = movies.dropna()
#movies.head()

In [11]:
# check how many rows are left in the dataframe
movies['Year'].count()

4390

In [12]:
# combine the title and year into key
movies["Key"] = movies["Title"] + movies["Year"].astype(str)
movies.head()

,Title,Year,Age,Netflix,Hulu,Disney,Key
0,Inception,2010,13+,1,0,0,Inception2010
1,The Matrix,1999,18+,1,0,0,The Matrix1999
2,Avengers: Infinity War,2018,13+,1,0,0,Avengers: Infinity War2018
3,Back to the Future,1985,7+,1,0,0,Back to the Future1985
4,Spider-Man: Into the Spider-Verse,2018,7+,1,0,0,Spider-Man: Into the Spider-Verse2018